<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤디자인 테스트</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/main.js" defer></script>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
    <h1>캡스톤디자인 테스트</h1>
        <!-- Scatter Plot 영역 -->
        <div id="scatter-plot" style="width:600px;height:400px;margin-bottom: 20px;"></div>
        
        <!-- Radar Chart 영역 -->
        <div id="radar-chart" style="width:600px;height:400px;"></div>
        
        <

    </div>
</body>
</html>
