<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡스톤디자인 테스트</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;">
        <h1>캡스톤디자인 테스트</h1>
        <nav>
                <li><a href="/tree">Tree Chart</a></li>
                <li><a href="/scatter">Scatter Plot</a></li>
                <li><a href="/radar">Radar Chart</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
